*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


.box{
    /* . (Dot): Targeting Elements by Class

    Used to select elements that share a common class name.
    Class names can start with a letter or underscore and can contain letters, numbers, hyphens (-), and underscores (_) but not spaces.   */
   width: 200px;
   height: 300px;
   color: cornsilk;
   border-style: solid;
   border-color: blue;
   border-width: 2px;
   padding: 5px;
}

span{
    border-style: solid;
    color: white;
    border-color: crimson;
    border-width: 2px;
    width: 200px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    display:ruby-base;
}
/* Hash -Id , Dot - class
Choosing Between # and .

    Use # when you need to style a single, unique element on your page.
    Use . when you want to apply the same styles to multiple elements that share a common purpose or visual style. */